.icon-btn {
  cursor: pointer;
  color: #111;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  transition: all 0.3s ease;
}
